<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="ToolsQA API Test">
        <classes>
            <class name="com.api.tests.AccountServiceTest"/>
            <class name="com.api.tests.BookStoreServiceTest"/>
            <!-- Add your test classes here -->
            <!-- Example: <class name="com.example.tests.MyTestClass"/> -->
        </classes>
    </test>
</suite>